.variant-select  { 
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid orange;
  font-family: "Muli";
  font-size: 14px;
  margin: 5px 0;
  padding: 3px;
  transition: border 0.5s;
  width: 100%
}

.variant-select::after{
  width: 10px;
  height: 10px;
  content: " ";
  border: 3px solid orange;
  border-radius: 3px;
  border-top: none;
  border-left:none;
  transform: rotate(45deg);
  position: absolute;
  top: 17px;
  left: 290px;
  z-index: 1;
  transition: border 0.5s;
}