.header { 
  background-color: #282c34;
  height: 80px;
  display: flex;
  text-align: center;
  color: white;
  padding: 15px;
  font-size: calc(10px + 2vmin);
}

.header__store-title { 
  flex: 1 0 auto;
}

.header__icon { 
  padding-top: 10px;
}


